html{
    min-height: 100%;  
}
/*    */
body{  
    background-image:url("../images/background.jpg");
    background-position: center;
    background-size: 100% 100%;    
    background-repeat: no-repeat;
    color: #D9D7C7 ;
    min-height: 100%;
    text-shadow: 1px 1px 1px black;
   
}
.card{  
    text-shadow: 1px 1px 5px black;
     min-width:15rem;
     height:35rem;     
     border: 2px solid white;
     margin:2em;
}
.card .horse_card{
    background-color: #e6ce1b;
    outline-color: black;
    text-shadow: none;
    
}
.errors li{
    list-style: none;
}

.fancy_font{
    font-family: 'IM Fell English SC', serif;
}

form{
    background-color: rgba(44, 44, 44, 0.596);
}

h2{
    text-decoration: underline;

}
#horse_profile_pic{
    width: 100%;
    border-radius: 1em; 
    box-shadow: 10px 10px 10px black;
}

hr{
    width:65%;
    background-color: inherit;
    border-top: 15px dotted white;
}

#url_div iframe{
    min-height: 100vh;
}

.navbar{
    background-color: #924A36;
    box-shadow: 10px 10px 10px black;
   z-index: 3000;
}

.navbar-brand, .nav-link{
    color: #D9D7C7;
}
.navbar-brand:hover{
    color: black;
    text-shadow:1px 1px 11px #C3976A;
    background-color: transparent;
    cursor: pointer;
}

.nav-link:hover{
    color: black;
    text-shadow:1px 1px 11px #C3976A;
    background-color: transparent;
    transform: scale(1.25);   
    cursor: pointer; 
}
.nav-item{
    border-right: solid 1px white;
    padding: 0 1em;
}

.navbar-brand:hover > div >.the_j{
    font-size: 1.5em;
    animation: animate__headShake;
    animation-duration: 3s;   
}

.sign_in_form{
    width: 50%;
}

.transparent-background{
    background-color: #696969a2;
    border-radius: 1em;
}

.transparent-card-background{
    background-color: #000000a2;
    border-radius: 1em;
}
.welcome_screen{
    padding: 2em;
}

@media only screen and (max-width:500px) {
    .card{ 
        margin:0;      
         margin-bottom:2em;
    }
    .sign_in_form{
        width: 95%;
    }
    .welcome_screen{
        border-radius: .0025em;
        font-size: 25em;
        min-width: 95%;
        padding:.0025em;
       
    }
}